body {
    background-color: #182f39;
    background-image: url(/images/1614647021_74-p-sovremennii-fon-dlya-fotoshopa-88.jpg);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.nav_bar {
    font-size: 50px;
    font-weight: bold;
    display: flex;

}

.container {
    margin-top: 50px;
}

.row {}

.col-8 {
    margin-left: 50px;
    margin-top: 50px;
    text-align: justify;
    width: 1200px;
    height: 400px;
}

.col-4 {}

.col-3.nav_logo {}

.col-9 {}

.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 1200px;
}

.img_size {}

.title_photo {
    text-align: center;
    margin-left: 130px;
}

.my_photo {
    background: url(../images/photo_2024-05-19_21-38-00.jpg) no-repeat center center;
    background-size: 100%;
    width: 400px;
    height: 400px;
    border-radius: 50px;
    align-items: end;
    margin-left: 150px;



}

.nav_logo {
    background: url(../images/logo3.png) no-repeat center center;
    background-size: 100%;
    width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-top: 30px;
}